.header {
    position: relative;
    height: 0.88rem;
    background-color: #c50206;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 998;
    

    .header-left {
        position: relative;

        img {
            position: absolute;
            left: 0.12rem;
            top: 0.12rem;
            bottom: 0.12rem;
            width: 2.68rem;
            height: 0.64rem;
        }
    }

    .header-login {
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
        bottom: 0.1rem;;
        font-size: 0.32rem;
        text-decoration: none;
        color: #fff;
        line-height: 0.68rem;
    }
}

.swiper-wrap {
    position: relative;
    margin-top: 0.88rem;
    width: 7.5rem;
    height: 4.5rem;

    img {
        width: 7.5rem;
        height: 4.5rem;
    }

    .slide_text {
        height: 0.56rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.5);
        font-size: 0.24rem;
        color: #fff;
        line-height: 0.56rem;
    }

    .swiper-slide {
        height: 4.41rem;
    }
}

.sudoku-wrap {
    height: 3.96rem;
    background-image: url('../img/bt_bg.png');
    background-size: 100% 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
        display: block;
        width: 1rem;
        height: 1rem;
        margin: 0 auto;
    }

    .row1 {
        display: flex;
        justify-content: space-around;
    }
    
    .row2 {
        display: flex;
        justify-content: space-around;
    }

    a.a-wrap {
        display: block;
        width: 2.5rem;
        height: 1.6rem;
        padding: 0.2rem 0;
        text-decoration: none;
        color: #666;
        font-size: 0.24rem;

        div {
            margin-top: 0.2rem;
            text-align: center;
        }
    }
}

.img-middle {
    height: 1.8rem;
    width: 100%;

    img {
        height: 1.8rem;
        width: 100%;
    }
}

.table {
    height: 3.3rem;
    width: 100%;
    background-image: url('../img/tese.png');
    background-size: 100% 100%;
    margin-bottom: 0.92rem;

    .road {
        display: block;
        width: 2.5rem;
        height: 3.3rem;
    }

    .study {
        display: block;
        width: 2.5rem;
        height: 1.65rem;
    }

    .pat {
        display: block;
        width: 2.5rem;
        height: 1.65rem;
    }

    .construction {
        display: block;
        width: 2.5rem;
        height: 1.65rem;
    }

    .activity {
        display: block;
        width: 2.5rem;
        height: 1.65rem;
    }
}   